version: 2.1

orbs:
  python: circleci/python@1.3.0

jobs:
  build-and-test:
    executor:
      name: python/default

    steps:
        - checkout
        - run:
            command: sudo apt-get install libfontconfig1
            name: Install Font
        - run:
            command: pip install --user JEVerificationCode
            name: pip JEVerificationCode
        - run:
            command: pip install --user matplotlib
            name: pip matplotlib
        - run:
            command: pip install --user Numpy
            name: pip Numpy
        - run:
            command: pip install --user Pillow
            name: pip Pillow
        - run:
            command: python Test/Test.py
            name: Test
        - run:
            command: python Test/UnitTest.py
            name: UnitTest

workflows:
  main:
    jobs:
      - build-and-test